.sectionContainer{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
    background: top fixed url(../../images/finca-1.jpg);
    background-size: cover;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    padding: 1rem 3.5rem;
    margin: auto;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    background-color: #44444471;
    color: white;
}

.container p {
    margin-bottom: 8px;
}

@media (max-width: 460px){

    .container{
        width: 80%;
        padding: 0.5rem 2.5rem;
        font-size: 20px
    }
}

/* ---------------------------------------- */

.subSectionFive{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: left;
    background: center fixed url(../../images/cafe-banner.jpg);
    background-size: cover;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subSectionFiveContainer{
    padding: 1rem 3.5rem;
    margin: 0px 0px 0px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    background-color: #44444471;
    color: white;
}

.subSectionFiveContainer p {
    margin-bottom: 8px;
}

@media (max-width: 460px){

    .subSectionFiveContainer{
        width: 80%;
        padding: 0.5rem 2.5rem;
        font-size: 20px
    }
}

/* ---------------------------------------- */

.subSectionFive__2{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    text-align: left;
    background: center fixed url(../../images/grano-cafe-1.png);
    background-size: cover;
    opacity: 0.9;
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subSectionFiveContainer__2{
    padding: 1rem 3.5rem;
    margin: 0px 0px 0px 40px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    border: 2px solid #ccc;
    background-color: #44444471;
    color: white;
}

.subSectionFiveContainer__2 p {
    margin-bottom: 8px;
}

@media (max-width: 460px){

    .subSectionFiveContainer__2{
        width: 80%;
        padding: 0.5rem 2.5rem;
        font-size: 20px
    }
}